
html, body, #root {
  height: 100%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  background: #0C0C0C;
  color: #DADADA;
  font-family: Lato, sans-serif;
}

a {
    color: lightGray !important;
    text-decoration: none !important;
}

a:hover
{
     color: white !important;
     text-decoration:none !important;
     cursor:pointer !important;
}

.full-height {
  height: 100%;
}

.force-nav-down {
  padding-top: 64px;
}

#results-container {
  margin-left: 256px;
  padding: 24px;
  height: 100%;
  overflow-y: auto;
}